INSERT INTO cp_dev.pin (title, description, filters, context, workbook_id, user_id, visualization_flag) VALUES({{.Title | quote}}, {{.Description | quote}}, {{.Filters | quote}}, {{.Context | quote}}, {{.WorkbookID}}, {{.UserID | quote}}, {{if .VisualizationFlag}}1{{- else}}0{{- end}});